@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
*::before,
*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
.sr-only {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

@keyframes slide-out {
	0% {
		flex: 1;
		padding: var(--padding-gap);
		margin-left: var(--padding-gap);
	}
	90% {
		padding: var(--padding-gap);
		margin-left: var(--padding-gap);
	}
	100% {
		flex: 0;
		margin-left: 0;
		padding: 0;
	}
}
@keyframes slide-in {
	0% {
		flex: 0;
		padding: 0;
	}
	100% {
		flex: 1;
		padding: max(2vw, 2rem);
	}
}
body {
	background-color: #304050;
}

@media (max-width: 48em) {
	.scroll-fixed {
		position: fixed;
		width: 100vw;
		margin: auto;
	}
}

.container, .container--project-grid, .primary-header, .container--project-details {
	max-width: 96vw;
	margin-inline: auto;
	margin-top: 2vw;
	padding-inline: max(2vw, 2rem);
	padding-block: max(2vw, 2rem);
	border-radius: 6px;
	backdrop-filter: blur(2px);
	background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), black);
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
	color: #fff;
}

[class^=flex] {
	display: flex;
}

.flex {
	flex: 0 1 100%;
	width: 96vw;
	margin-inline: auto;
	gap: 1rem;
}
.flex .block {
	margin-top: 0;
}

.flexb-100 {
	flex-basis: 100%;
}

.nav-primary {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-primary h1 {
	color: #fff;
	font-weight: 500;
	font-size: clamp(1.75rem, 4vw, 4rem);
	font-family: "Montserrat", sans-serif;
}
@media (min-width: 48em) {
	.nav-primary h1 {
		font-size: clamp(1.75rem, 4vw, 4rem);
	}
}
.nav-primary .icon-group {
	display: flex;
}
.nav-primary .header-icon {
	--svg-color: #fff;
	fill: var(--svg-color);
	stroke: var(--svg-color);
	vertical-align: middle;
	margin-left: 0.5em;
	width: 1.5em;
}
@media (min-width: 48em) {
	.nav-primary .header-icon {
		margin-left: 1rem;
		width: 3em;
	}
}

.introduction p {
	font-weight: 300;
	font-size: clamp(1rem, 1.5vw, 2.5rem);
	font-family: "Abel", sans-serif;
}

.lang-lib {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	border-radius: 6px;
	width: 100%;
}
.lang-lib li {
	margin-right: 1em;
	font-weight: 500;
	font-size: clamp(1rem, 1.5vw, 2.5rem);
	font-family: "Abel", sans-serif;
	list-style: none;
	text-transform: uppercase;
}

.contact-form {
	display: grid;
}
.contact-form * {
	margin-top: 2em;
	padding-inline: 0.5em;
	font-family: "Montserrat", sans-serif;
	border: none;
	border-radius: 6px;
}
.contact-form *:last-child {
	margin-bottom: 1em;
}
.contact-form .btn {
	background: #182028;
	border: solid 1px rgba(255, 255, 255, 0.2);
}
@media (min-width: 48em) {
	.contact-form .btn {
		width: 10em;
		justify-self: end;
	}
}

#website {
	display: none;
}

.container--project-grid {
	flex: 2;
	display: grid;
	grid-template-columns: repeat(1, auto);
	justify-content: space-evenly;
	align-content: start;
	gap: max(2vw, 2rem);
}
@media (min-width: 36em) {
	.container--project-grid {
		grid-template-columns: repeat(4, auto);
	}
}
@media (min-width: 75em) {
	.container--project-grid {
		grid-template-columns: repeat(6, auto);
	}
}

.container--project-details {
	flex: 1;
}
@media (max-width: 62em) {
	.container--project-details {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid #304050;
		background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), black);
		width: 95vw;
		max-height: 70vh;
		overflow: scroll;
	}
}

.project-details .close-ctrl {
	position: absolute;
	right: -1rem;
	fill: #fff;
}
@media (max-width: 48em) {
	.project-details .close-ctrl {
		top: 1rem;
		right: 1rem;
	}
}
.project-details .title-group h2 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	font-size: 2rem;
	font-family: "Montserrat", sans-serif;
}
.project-details .title-group h2 a {
	transition: color 250ms;
	color: #fff;
	text-decoration: underline;
}
.project-details .title-group h2 a:hover {
	color: #bfbfbf;
}
.project-details .title-group date {
	font-weight: 300;
	font-size: clamp(1rem, 1.5vw, 2.5rem);
	font-family: "Abel", sans-serif;
}
.project-details .detail-body p {
	margin-block: 2em;
	font-weight: 300;
	font-size: clamp(1rem, 1.5vw, 2.5rem);
	font-family: "Abel", sans-serif;
}
.project-details .detail-body p a {
	color: #fff;
	text-decoration: underline;
}
.project-details .detail-body .btn-group {
	margin-block: 2em;
}
.project-details .detail-body ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 100%;
}
.project-details .detail-body li {
	margin-right: 1em;
	font-weight: 500;
	font-size: 1rem;
	font-family: "Abel", sans-serif;
	font-weight: 600;
	list-style: none;
	text-transform: uppercase;
}
@media (min-width: 48em) {
	.project-details {
		position: sticky;
		top: 2rem;
	}
}

@media (max-width: 62em) {
	.body-mute {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		width: 100vw;
		height: 100vh;
	}
}

.inactive {
	animation: slide-out 1s ease-in-out forwards;
}

a {
	text-decoration: none;
}
a > * {
	transition: opacity 200ms ease-in-out;
}
a > *:hover {
	opacity: 0.8;
}

.card {
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 0.5em;
	cursor: pointer;
	transition: all 500ms ease-in;
}
@media (min-width: 48em) {
	.card:focus, .card:hover {
		transform: scale(1.1);
	}
}
.card-img {
	width: 100%;
}

.card-grow {
	transform: scale(1.1);
}

.html {
	color: #E34F26;
}

.php {
	color: #8892bf;
}

.css {
	color: #264DE4;
}

.sass {
	color: #bf4080;
}

.bootstrap {
	color: #8b12fb;
}

.javascript,
.json {
	color: #bfa600;
}

.node {
	color: #689F63;
}

.express {
	color: #689F63;
}

.ejs {
	color: #A91E50;
}

.mongo {
	color: #01684A;
}

.postgre {
	color: #326791;
}

.mysql {
	color: #00758f;
}

.cloudinary {
	color: #3448c5;
}

.close-ctrl {
	width: 1.5em;
	aspect-ratio: 1;
}

.btn {
	border: solid 1px #304050;
	border-radius: 0.5em;
	background: black;
	color: #fff;
}

button,
.btn {
	padding-inline: 0.75em;
	padding-block: 0.2em;
	font-size: 1rem;
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
	transition: opacity 200ms ease-in-out;
}
button:hover,
.btn:hover {
	opacity: 0.8;
}

.btn-group {
	display: grid;
	grid-template-columns: 1fr auto;
	place-items: center;
	width: fit-content;
	height: fit-content;
	overflow: hidden;
	border: solid 1px #304050;
	border-radius: 0.5em;
	background-color: black;
	font-size: 1rem;
	font-family: "Montserrat", sans-serif;
}
.btn-group > a {
	padding-inline: 0.75em;
	padding-block: 0.2em;
	color: #fff;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	transition: color 1s;
}
.btn-group > a:hover {
	color: #304050;
}
.btn-group a:not(:last-child) {
	border-right: solid 1px #304050;
}

#copyright {
	color: #fff;
	font-family: "Abel", sans-serif;
	text-align: right;
	margin-inline: auto;
	max-width: 96vw;
	border-radius: 6px;
}

/*# sourceMappingURL=style.css.map */