@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	-webkit-text-decoration-skip: ink;
	        text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
*::before,
*::after {
		-webkit-animation-duration: 0.01ms !important;
		        animation-duration: 0.01ms !important;
		-webkit-animation-iteration-count: 1 !important;
		        animation-iteration-count: 1 !important;
		-webkit-transition-duration: 0.01ms !important;
		        transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
.flex-100 {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
}

@media (max-width: 768px) {
	.body-mute {
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.5);
	}
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	/* added line */
	border: 0;
}

.orb-canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -1;
	opacity: 0.3;
}

.block {
	margin-inline: auto;
	margin-block: 2rem;
	padding-inline: 2rem;
	padding-block: 1rem;
	max-width: 96vw;
	border-radius: 6px;
	color: #fff;
	-webkit-backdrop-filter: blur(2px);
	        backdrop-filter: blur(2px);
	background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.5)), to(black));
	background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), black);
	-webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
	        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.card {
	aspect-ratio: 1;
	border-radius: 0.5em;
	overflow: hidden;
}
.card-img {
	width: 100%;
}
.card-info {
	position: relative;
	top: -3em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-inline: 0.5em;
	height: 3em;
	font-family: "Roboto", sans-serif;
	background-color: rgba(0, 0, 0, 0.9);
	-webkit-backdrop-filter: blur(2px);
	        backdrop-filter: blur(2px);
	border-radius: 0 0 0.5em 0.5em;
}
.card-title {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	font-size: 1em;
	color: #fff;
	background-color: black;
	border: solid 1px #42474C;
	border-radius: 0.5em;
	cursor: pointer;
}

.btn-group {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	border: solid 1px #42474C;
	border-radius: 0.5em;
	overflow: hidden;
}
.btn-group button {
	border: unset;
	color: #fff;
	background: black;
}
.btn-group button a {
	color: #fff;
	vertical-align: middle;
	text-decoration: none;
}
.btn-group button a svg {
	margin-bottom: 0.2em;
	vertical-align: middle;
}
.btn-group > button:not(:last-child) {
	border-right: solid 1px #42474C;
}
.html {
	color: #E34F26;
}

.css {
	color: #264DE4;
}

.javascript {
	color: #F0DB4F;
}

.node {
	color: #689F63;
}

.express {
	color: #FFFFFF;
}

.ejs {
	color: #A91E50;
}

.mongo {
	color: #01684A;
}

.php {
	color: #8892bf;
}

.sass {
	color: #bf4080;
}

.close-ctrl {
	width: 1.5em;
	aspect-ratio: 1;
}

.primary-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.primary-header a {
	text-decoration: none;
}
.primary-header h1 {
	font-family: "Roboto", sans-serif;
	font-size: 2rem;
	font-weight: 400;
	color: #fff;
}
@media (min-width: 768px) {
	.primary-header h1 {
		font-size: 3rem;
	}
}
.primary-header .github-icon {
	fill: white;
}
.primary-header .header-icon {
	margin-left: 1em;
	width: 2em;
	vertical-align: middle;
}
@media (min-width: 768px) {
	.primary-header .header-icon {
		width: 3em;
		margin-left: 2rem;
	}
}

.introduction h2 {
	font-family: "Roboto", sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
	.introduction h2 {
		font-size: 2rem;
	}
}
.introduction p {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 1rem;
}

.project-grid {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, 100%);
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	gap: min(2rem, 5vw);
}
@media screen and (min-width: 768px) {
	.project-grid {
		grid-template-columns: repeat(auto-fill, 45%);
	}
}
@media (min-width: 1200px) {
	.project-grid {
		grid-template-columns: repeat(auto-fill, 300px);
	}
}
@media (min-width: 1920px) {
	.project-grid {
		grid-template-columns: repeat(auto-fill, 400px);
	}
}

#container--project-details {
	-ms-flex-preferred-size: 40%;
	    flex-basis: 40%;
}

@media (max-width: 768px) {
	#container--project-details {
		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		width: 95vw;
		height: 50vh;
		background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.9)), to(black));
		background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), black);
		border: 1px solid #42474C;
	}
}
main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 100%;
	        flex: 0 1 100%;
	gap: min(1rem, 5vw);
	width: 96vw;
	margin-inline: auto;
}
main .block {
	margin-top: 0;
}

.project-details .close-ctrl {
	position: absolute;
	right: -1rem;
}
@media (max-width: 768px) {
	.project-details .close-ctrl {
		position: absolute;
		right: 1rem;
	}
}
.project-details .title-group h2 {
	font-family: "Roboto", sans-serif;
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
.project-details .title-group date {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: 300;
}
.project-details .detail-body p {
	margin-block: 2em;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: 300;
}
.project-details .detail-body ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 100%;
}
.project-details .detail-body li {
	margin-right: 1em;
	list-style: none;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	font-weight: 500;
}
@media screen and (min-width: 768px) {
	.project-details {
		position: sticky;
		top: 2rem;
	}
}

.contact-form {
	display: -ms-grid;
	display: grid;
}
.contact-form * {
	margin-top: 2em;
	font-family: "Roboto", sans-serif;
}
.contact-form *:last-child {
	margin-bottom: 1em;
}
@media (min-width: 768px) {
	.contact-form button {
		width: 10em;
		-ms-grid-column-align: end;
		    justify-self: end;
	}
}

body {
	background-color: #42474C;
}
/*# sourceMappingURL=style.css.map */