@use "sass:color";

// dark scheme
// $base: #304050;
// $block: black;
// $font-clr: #fff;

// blue scheme
$base: #3AB0FF;
$block: #F9F2ED;
$font-clr: black;


// specific elements
$html: #E34F26;
$php: #8892bf;
// style
$css: #264DE4;
$sass: #bf4080;
$bootstrap: #8b12fb;
// javascript
$javascript: color.scale(#F0DB4F, $saturation: 100%, $lightness: -40%);
$nodejs: #689F63;
$ejs: #A91E50;
$mongodb: #01684A;
// databases
$postgre: #326791;
$mysql: #00758f;
// services
$cloudinary: #3448c5;