$block: black;
$base: #304050;
$font-clr: #fff;

// specific elements
$html: #E34F26;
$php: #8892bf;
// style
$css: #264DE4;
$sass: #bf4080;
$bootstrap: #8b12fb;
// javascript
$javascript: #F0DB4F;
$nodejs: #689F63;
$ejs: #A91E50;
$mongodb: #01684A;
// databases
$postgre: #326791;
$mysql: #00758f;
// services
$cloudinary: #3448c5;