@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300;400;500&display=swap');

//heading
$title-ff: 'Montserrat', sans-serif;
$title-fs: clamp(2rem, 3.5vw, 5rem);
$title-fw: 500;

//sub heading
$subtitle-ff: 'Montserrat', sans-serif;
$subtitle-f2: 2rem;
$subtitle-fw: 500;

// paragraph
$paragraph-ff: 'Abel', sans-serif;
$paragraph-fs: clamp(1rem, 1.5vw, 2.9rem);
$paragraph-fw: 300;

$default-type: 'Montserrat', sans-serif;
$light: 300;
$regular: 400;
$bold: 500;
