$title-ff: 'Roboto', sans-serif;
$title-fs: 3rem;
$title-fw: 400;

$paragraph-ff: 'Roboto', sans-serif;
$paragraph-fs: 1rem;
$paragraph-fw: 300;

$subtitle-ff: 'Roboto', sans-serif;
$subtitle-f2: 2rem;
$subtitle-fw: 400;


