@use 'abstracts'as *;

body {
	background-color: $base;
}

.block {
	margin-inline: auto;
	margin-block: 2rem;
	padding-inline: 2rem;
	padding-block: 1rem;
	max-width: $block-width;
	border-radius: 6px;
	color: $font-clr;
	backdrop-filter: blur(2px);
	background-image: linear-gradient(to bottom right, rgba($block, .5), rgba($block, 1));
	box-shadow: .5rem .5rem 1rem rgba($block, .2);
}

.primary-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		font-family: $title-ff;
		font-size: $title-fs;
		font-weight: $title-fw;
		color: $font-clr;
	}

	h2 {
		font-family: $subtitle-ff;
		font-size: $subtitle-f2;
		font-weight: $subtitle-fw;
		margin-bottom: .5rem;
	}

	.github-svg-header {
		fill: white;
		width: $title-fs;
		aspect-ratio: 1;
		vertical-align: middle;
	}
}

.introduction {
	h2 {
		font-family: $subtitle-ff;
		font-size: $subtitle-f2;
		font-weight: $subtitle-fw;
		margin-bottom: .5rem;
	}

	p {
		font-family: $paragraph-ff;
		font-size: $paragraph-fs;
		font-weight: $paragraph-fw;
		margin-bottom: 1rem;
	}
}