:root {
	--trans-background: hsla(0, 0%, 0%, .1);
	--trans-white: hsla(0, 0%, 100%, .1);
	--trans-black-text: hsla(0, 0%, 0%, .4);
	--solid-background: hsla(206, 51%, 55%, 1.00);
}

body {
	background-color: var(--solid-background);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4em;
	padding-inline: 1em;
}

header p {
	font-size: 2em;
	margin-block: auto;

}

header img {
	height: 2em;
}

li {
	margin: 1vw;
}

.trans-black-background {
	background: var(--trans-background);
}

#animation-toggle {
	font-size: .5em;
	max-width: 18ch;
	text-align: right;
	float: right;
	border-top: 0;
	border-right: 0;
	border-radius: 0 0 0 4px;
	border-color: var(--trans-background);
	color: var(--trans-black-text);
	transition: ease-in-out 500ms;
}

#animation-toggle:hover {
	background-color: var(--trans-background);
}

/* bootstrap modification */
.card {
	transition: transform 500ms ease;
}

.card:hover {
	transform: scale(1.05);
}

.card-text {
	height: 5em;
}
