@use '../abstracts' as *;

.block {
	padding-inline: 2rem;
	padding-block: 1rem;
	margin-inline: auto;
	margin-block: 2rem;
	max-width: $block-width;
	color: $font-clr;
	box-shadow: .5rem .5rem 1rem rgba($block, .2);
	border-radius: 6px;
	background-image: linear-gradient(to bottom right, rgba($block, .5), rgba($block, 1));
	backdrop-filter: blur(2px);
}