@use '../abstracts' as *;

.btn {
	border: solid 1px $base;
	border-radius: 0.5em;
	background: $block;
	color: $font-clr;
}

button,
.btn {
	padding-inline: 1em;
	padding-block: 0.2em;
	font-size: 1rem;
	font-family: $default-type;
	cursor: pointer;
	transition: opacity 200ms ease-in-out;

	&:hover {
		opacity: 0.8;
	}
}