@use '../abstracts' as *;

.btn {
	border: solid 1px $base;
	border-radius: 0.5em;
	background: $block;
	color: $font-clr;
}

button,
.btn {
	padding-inline: .75em;
	padding-block: 0.2em;
	font-size: 1rem;
	font-family: $default-type;
	cursor: pointer;
	transition: opacity 200ms ease-in-out;

	&:hover {
		opacity: 0.8;
	}
}

.btn-group {
	border: solid 1px $base;
	border-radius: 0.5em;
	background-color: $block;
	width: fit-content;
	height: fit-content;
	overflow: hidden;
	font-size: 1rem;

	a {
		vertical-align: middle;
		color: $font-clr;
		text-decoration: none;

		button {
			border: unset;
			background: none;
			color: $font-clr;
			vertical-align: middle;

			svg {
				margin-bottom: 0.2em;
			}
		}
	}

	a:not(:last-child) {
		border-right: solid 1px $base;
	}
}