@use '../abstracts' as *;

.btn {
	border: solid 1px $base;
	border-radius: .5em;
	color: $font-clr;
	background: $block;


}

button,
.btn {
	padding-inline: 1em;
	padding-block: .2em;
	font-family: $robo;
	font-size: 1em;
	transition: opacity 200ms ease-in-out;
	cursor: pointer;

	&:hover {
		opacity: .8;
	}
}