@use '../abstracts' as *;

.btn {
	border: solid 1px $base;
	border-radius: 0.5em;
	background: $block;
	color: $font-clr;
}

button,
.btn {
	// display: flex;
	padding-inline: 0.75em;
	padding-block: 0.2em;
	font-size: $paragraph-fs;
	font-family: $button-type;
	cursor: pointer;
	transition: opacity 200ms ease-in-out;

	&:hover {
		opacity: 0.8;
	}
}

.btn-group {
	display: grid;
	grid-template-columns: 1fr auto;
	place-items: center;
	width: fit-content;
	height: fit-content;
	overflow: hidden;
	border: solid 1px $base;
	border-radius: 0.5em;
	background-color: $block;
	font-size: $paragraph-fs;
	font-family: $button-type;

	& > a {
		padding-inline: 0.75em;
		padding-block: 0.2em;
		color: $font-clr;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
		transition: color 1s;

		&:hover {
			color: $base;
			// fill: $base;
		}
	}

	a:not(:last-child) {
		border-right: solid 1px $base;
	}
}
