@use 'abstracts'as *;

.card {
	aspect-ratio: 1;
	border-radius: .5em;
	overflow: hidden;

	&-img {
		width: 100%;
	}

	&-info {
		$info-height: 3em;
		position: relative;
		top: -$info-height;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: .5em;
		height: $info-height;
		font-family: $subtitle-ff;
		background-color: rgba($block, .9);
		backdrop-filter: blur(2px);
		overflow: hidden;
	}

	&-title {
		font-size: 1rem;
		cursor: pointer;
		border-bottom: 2px solid rgba($font-clr, 0);
		transition: border-color 250ms ease-in-out;

		&:hover,
		&:focus {
			border-bottom: 2px solid rgba($font-clr, 1);
		}
	}
}

.btn-group {
	width: fit-content;
	height: fit-content;
	border: solid 1px $base;
	border-radius: .5em;
	overflow: hidden;

	button {
		border: unset;
		color: $font-clr;
		background: black;
	}

	.btn-group > button:not(:last-child) {
		border-right: solid 1px $base;
	}
}