@use '../abstracts' as *;

.card {
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 0.5em;
	transition: opacity 250ms ease-in-out;

	&-img {
		width: 100%;
	}

	&-info {
		$info-height: 3em;
		display: flex;
		position: relative;
		top: -$info-height;
		align-items: center;
		justify-content: space-between;
		height: $info-height;
		padding-inline: 0.5em;
		border: 1px solid $base;
		border-radius: 0 0 0.5em 0.5em;
		backdrop-filter: blur(2px);
		background-color: rgba($block, 0.7);
		font-family: $subtitle-ff;
	}

	&-title {
		width: fit-content;
		height: fit-content;
		border: solid 1px $base;
		border-radius: 0.5em;
		background-color: $block;
		color: $font-clr;
		cursor: pointer;
	}
}

.btn-group {
	width: fit-content;
	height: fit-content;
	overflow: hidden;
	border: solid 1px $base;
	border-radius: 0.5em;
	background-color: $block;
	font-size: 1rem;

	a {
		color: $font-clr;
		text-decoration: none;
		vertical-align: middle;

		button {
			border: unset;
			background: none;
			color: $font-clr;

			svg {
				margin-bottom: 0.2em;
				vertical-align: middle;
			}
		}
	}

	a:not(:last-child) {
		border-right: solid 1px $base;
	}
}
