@use 'abstracts'as *;

.card {
	aspect-ratio: 1;
	border-radius: .5em;
	overflow: hidden;

	&-img {
		width: 100%;
	}

	&-info {
		$info-height: 3em;
		position: relative;
		top: -$info-height;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: .5em;
		height: $info-height;
		font-family: $subtitle-ff;
		background-color: rgba($block, .9);
		backdrop-filter: blur(2px);
		border-radius: 0 0 .5em .5em;
	}

	&-title {
		width: fit-content;
		height: fit-content;
		font-size: 1em;
		color: $font-clr;
		background-color: black;
		border: solid 1px $base;
		border-radius: .5em;
		cursor: pointer;
	}
}

.btn-group {
	width: fit-content;
	height: fit-content;
	border: solid 1px $base;
	border-radius: .5em;
	overflow: hidden;

	button {
		border: unset;
		color: $font-clr;
		background: black;

		a {
			color: $font-clr;
			vertical-align: middle;
			text-decoration: none;

			svg {
				margin-bottom: .2em;
				vertical-align: middle;
			}
		}
	}

	> button:not(:last-child) {
		border-right: solid 1px $base;
	}

	> .btn-git {}
}