@use '../abstracts' as *;

.card {
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 0.5em;
	cursor: pointer;
	transition: all 500ms ease-in;

	@media (min-width: $md) {
		&:focus,
		&:hover {
			transform: scale(1.1);
		}
	}

	&-img {
		width: 100%;
	}
}

.card-grow {
	transform: scale(1.1);
}