@use '../abstracts'as *;

.html {
	color: $html;
}

.css {
	color: $css;
}

.javascript,
.json {
	color: $javascript;
}

.node {
	color: $nodejs;
}

.express {
	color: $express;
}

.ejs {
	color: $ejs;
}

.mongo {
	color: $mongodb;
}

.php {
	color: $php;
}

.sass {
	color: #bf4080;
}

.bootstrap {
	color: #8b12fb;
}

.cloudinary {
	color: #3448c5;
}

.postgre {
	color: #326791;
}

.mysql {
	color: #00758f;
}