@use '../abstracts' as *;

.html {
	color: $html;
}

.php {
	color: $php;
}

.css {
	color: $css;
}

.sass {
	color: $sass;
}

.bootstrap {
	color: $bootstrap;
}

.javascript,
.json {
	color: $javascript;
}

.node,
.chalk,
.jsdom {
	color: $nodejs;
}

.express {
	color: $nodejs;
}

.ejs {
	color: $ejs;
}

.mongo {
	color: $mongodb;
}

.postgre {
	color: $postgre;
}

.mysql {
	color: $mysql;
}

.cloudinary {
	color: $cloudinary;
}

.mocha {
	color: $mocha;
}

.lang-list {
	display: flex;
	flex-wrap: wrap;
	padding-inline: 0;
	list-style: none;

	& > li {
		margin-right: 1em;
		font-size: $paragraph-fs;
	}
}
