@use '../abstracts'as *;

.lang-lib {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	width: 100%;

	li {
		margin-right: 1em;
		font-weight: 500;
		font-size: $paragraph-fs;
		font-family: $paragraph-ff;
		list-style: none;
		text-transform: uppercase;
	}
}

.html {
	color: $html;
}

.php {
	color: $php;
}

.css {
	color: $css;
}

.sass {
	color: $sass;
}

.bootstrap {
	color: $bootstrap;
}

.javascript,
.json {
	color: $javascript;
}

.node {
	color: $nodejs;
}

.express {
	color: $nodejs;
}

.ejs {
	color: $ejs;
}

.mongo {
	color: $mongodb;
}

.postgre {
	color: $postgre;
}

.mysql {
	color: $mysql;
}

.cloudinary {
	color: $cloudinary;
}
