@use 'abstracts'as *;

main {
	display: flex;
	flex: 0 1 100%;
	gap: min(2rem, 5vw);
	width: $block-width;
	margin-inline: auto;
	overflow: hidden;

	.block {
		margin-block: 0;
	}
}

.block {
	flex-basis: 100%;
}

#container--project-details {
	flex-grow: 2;
	flex-basis: 200%;
}

.container--project-details-hidden {
	transform: translateX(calc(100% + 2rem));
	transition: transform 500ms ease-in-out;
}



.project-details {
	.title-group {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 1.5em;

		h2 {
			font-family: $subtitle-ff;
			font-size: $subtitle-f2;
			font-weight: $subtitle-fw;
			margin-bottom: .5rem;
		}

		date {
			font-family: $paragraph-ff;
			font-size: $paragraph-fs;
			font-weight: $paragraph-fw;
		}
	}

	.detail-body {
		display: flex;
		justify-content: space-between;
		gap: 2em;

		p {
			flex-grow: 3;
			margin-bottom: 1rem;
			margin-left: 4ch;
			margin-bottom: 0;
			padding: 2em;
			padding-bottom: 50%;
			font-family: $paragraph-ff;
			font-size: $paragraph-fs;
			font-weight: $paragraph-fw;
			border: 2px solid $base;
			border-radius: .5em;
		}

		ul {
			flex-grow: 1;
			min-width: fit-content;
			margin: 0;
			padding: 2em;
			border: 2px solid $base;
			border-radius: .5em;
		}

		li {
			list-style: none;
			font-family: $paragraph-ff;
			font-size: $paragraph-fs;
			font-weight: 400;
		}

	}
}