@use '../abstracts' as *;

h1 {
	font-size: $title-fs;
	font-family: $title-ff;
	font-weight: $title-fw;
}

h2 {
	font-size: $sub-title-fs;
	font-family: $sub-title-ff;
	font-weight: $sub-title-fw;
	margin-bottom: $spacing-01;
}

p {
	font-size: $paragraph-fs;
	font-family: $paragraph-ff;
	font-weight: $paragraph-fw;
}