@use '../abstracts' as *;

.flex-100 {
	flex-basis: 100%;
}

.stick-bottom {
	position: fixed;
	right: 2rem;
	bottom: 1rem;
}

.sr-only {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	margin: -1px;
	/* added line */
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}
