@use '../abstracts' as *;

.flexb-100 {
	flex-basis: 100%;
}

.stick-bottom {
	position: fixed;
	right: 2rem;
	bottom: 1rem;
}

.sr-only {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	margin: -1px;
	/* added line */
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

.block {
	max-width: $block-width;
	margin-inline: auto;
	margin-block: 2vw;
	padding-inline: max(2vw, 2rem);
	padding-block: max(2vw, 2rem);
	border-radius: 6px;
	backdrop-filter: blur(2px);
	background-image: linear-gradient(to bottom right, rgba($block, 0.5), rgba($block, 1));
	box-shadow: 0.5rem 0.5rem 1rem rgba($block, 0.2);
	color: $font-clr;
}
