@use 'abstracts'as *;

.flex-100 {
	flex-basis: 100%;
}

@media (max-width: $md) {
	.body-mute {
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		width: 100vw;
		height: 100vh;
		// z-index: 100;
		background: rgba($block, .5);
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
  }