:root {
	--trans-background: hsla(0, 0%, 0%, .1);
	--trans-white: rgba(255, 255, 255, 0.375);
	--trans-black: hsla(0, 0%, 0%, .4);
	--solid-background: hsla(206, 51%, 55%, 1.00);
	--btn-background: hsla(206, 51%, 55%, 1.00);
}

body {
	background-color: var(--solid-background);
}

.trans-background {
	background: var(--trans-black);
	border-radius: 1rem;
	margin-inline: 2vw;
	margin-block: 3rem;

}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4em;
	padding-inline: 1em;
}

header p {
	font-size: 2em;
	margin-block: auto;
}

header img {
	height: 2em;
}

li {
	margin: 1vw;
}

.github-svg-nav {
	fill: white;
	width: 32px;
}

.github-svg {
	width: 1.3em;
	margin-top: -.2em;
}

.card {
	border: none;
}

.card-body {
	border-top: 1px solid rgb(227, 227, 227);
}

.btn-info {
	color: white;
	background-color: var(--btn-background);
	border-color: var(--btn-background);
}

.btn-info:hover {
	background-color: var(--btn-background);
	color: white;
	border-color: var(--btn-background);
}

.btn-outline-info {
	border-color: var(--btn-background);
	color: var(--btn-background);
}

.btn-outline-info:hover, .btn-outline-info:active {
	color: white;
	fill: white;
	background-color: var(--btn-background);
	border-color: var(--btn-background);
}

/* background animation toggle */

#animation-toggle {
	font-size: .5em;
	max-width: 18ch;
	text-align: right;
	float: right;
	border-top: 0;
	border-right: 0;
	border-radius: 0 0 0 4px;
	border-color: var(--trans-background);
	color: var(--trans-black);
	transition: ease-in-out 500ms;
}

#animation-toggle:hover {
	background-color: var(--trans-background);
}

/* bootstrap modification */

.card-text {
	height: 5em;
}

@media screen and (min-width:500px) {
	.card {

	}

	.card {
		transition: transform 500ms ease;
	}

	.card:hover {
		transform: scale(1.05);
	}
}