@use '../abstracts' as *;

.container {
	max-width: $container-width;
	margin-inline: $spacing-01;
	margin-top: $spacing-01;
	padding: $spacing-01;
	border-radius: 6px;
	backdrop-filter: blur(2px);
	background-image: linear-gradient(to bottom right, rgba($block, 0.5), rgba($block, 1));
	box-shadow: 0.5rem 0.5rem 1rem rgba($block, 0.2);
	color: $font-clr;
}
