@use '../abstracts' as *;

[class^='flex'] {
	display: flex;
}

.flex {
	flex: 0 1 100%;
	width: $container-width;
	margin-inline: auto;
	gap: 1rem;

	.block {
		margin-top: 0;
	}
}

.flexb-100 {
	flex-basis: 100%;
}