@use '../abstracts' as *;

.contact-form-container {
	form {
		display: grid;
		gap: $spacing-01;
		font-size: $paragraph-fs;

		input,
		textarea {
			padding-inline: $input-padding;
			border: none;
			border-radius: $borderborder-radius;
		}
	}
}