@use 'abstracts'as *;

.contact-form {
	display: grid;

	& * {
		margin-top: 2em;
		font-family: $robo;

		&:last-child {
			margin-bottom: 1em;
		}
	}



	button {
		@media (min-width: $md) {
			width: 10em;
			justify-self: end;
		}
	}

}