@use '../abstracts' as *;

.contact-form {
	display: grid;

	& * {
		margin-top: 2em;
		padding-inline: .5em;
		font-family: $default-type;
		border: none;
		border-radius: 6px;

		&:last-child {
			margin-bottom: 1em;
		}
	}

	.btn {
		background: mix($block, $base, 50%);
		border: solid 1px rgba($font-clr, .2);

		@media (min-width: $md) {
			width: 10em;
			justify-self: end;
		}
	}
}