@use 'sass:color';
@use '../abstracts' as *;

.contact-form--container {
	form {
		display: grid;
		gap: $spacing-01;
		font-size: $paragraph-fs;

		@media (min-width: $md) {
			grid-template-areas:
				'name name email email'
				'subject subject subject subject'
				'message message message message'
				'. . . send';

			input:nth-of-type(1) {
				grid-area: name;
			}
			input:nth-of-type(2) {
				grid-area: email;
			}
			input:nth-of-type(3) {
				grid-area: subject;
			}
			textarea:first-of-type {
				grid-area: message;
			}
			button:first-of-type {
				grid-area: send;
			}
		}

		input,
		textarea {
			padding-inline: $input-padding;
			border: none;
			border-radius: $border-radius;
			background-color: $base;
			color: $font-clr;
			box-shadow: inset -0.25rem -0.25rem 1rem rgba($block, 0.2);

			&::placeholder {
				color: color.adjust($font-clr, $alpha: -0.5);
			}
		}
	}
}
