@use '../abstracts' as *;

.introduction {
	margin-block: 1.5em;

	p {
		font-weight: $paragraph-fw;
		font-size: $paragraph-fs;
		font-family: $paragraph-ff;

		@media (max-width: $md) {
			font-size: $paragraph-fs-sm;
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		width: 100%;
	}

	li {
		margin-right: 1em;
		font-weight: 500;
		font-size: 1rem;
		font-family: $paragraph-ff;
		list-style: none;
		text-transform: uppercase;
	}
}
