@use 'abstracts'as *;

.primary-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		font-family: $title-ff;
		font-size: $title-fs;
		font-weight: $title-fw;
		color: $font-clr;
	}

	.github-icon {
		fill: white;
	}

	div > a > svg {
		width: 3rem;
		margin-left: 2rem;
		vertical-align: middle;
	}

}