@use 'abstracts'as *;

.primary-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		font-family: $title-ff;
		font-size: 2rem;
		font-weight: $title-fw;
		color: $font-clr;

		@media (min-width: $md) {
			font-size: $title-fs;
		}
	}

	.github-icon {
		fill: white;
	}

	.header-icon {
		margin-left: 1em;
		width: 2em;
		vertical-align: middle;

		@media (min-width: $md) {
			width: 3em;
			margin-left: 1rem;
		}
	}

}