@use '../abstracts' as *;

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 100%);
	justify-content: space-around;
	margin-block: 2rem;
	gap: min(2rem, 5vw);

	@media screen and (min-width: $md) {
		grid-template-columns: repeat(auto-fill, 20%);
	}

	@media (min-width: $xl) {
		grid-template-columns: repeat(auto-fill, 15%);
	}

	// @media (min-width: $xxl) {
	// 	grid-template-columns: repeat(auto-fill, 400px);
	// }
}
