@use '../abstracts' as *;

#container--project-details {
	position: sticky;
	top: 2rem;
	flex-basis: 40%;
}

@media (max-width: $lg) {
	#container--project-details {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 95vw;
		height: 70vh;
		overflow: scroll;
		transform: translate(-50%, -50%);
		border: 1px solid $base;
		background-image: linear-gradient(to bottom right, rgba($block, 0.9), rgba($block, 1));
	}
}

main {
	display: flex;
	flex: 0 1 100%;
	width: $block-width;
	margin-inline: auto;
	gap: min(1rem, 5vw);

	.block {
		margin-top: 0;
	}
}

.project-details {
	.close-ctrl {
		position: absolute;
		right: -1rem;

		@media (max-width: $md) {
			// position: absolute;
			position: sticky;
			top: 1rem;
			left: 80vw;
		}
	}

	.title-group {
		h2 {
			margin-bottom: 0.5rem;
			font-weight: $subtitle-fw;
			font-size: $subtitle-f2;
			font-family: $subtitle-ff;

			a {
				color: $font-clr;
				text-decoration: underline;
				transition: color 250ms;
			}

			a:hover {
				color: mix($font-clr, black, 75%);
			}
		}

		date {
			font-weight: $paragraph-fw;
			font-size: $paragraph-fs;
			font-family: $paragraph-ff;
		}
	}

	.detail-body {
		p {
			margin-block: 2em;
			font-weight: $paragraph-fw;
			font-size: $paragraph-fs;
			font-family: $paragraph-ff;
		}

		.btn-group {
			margin-block: 2em;
		}

		a {
			color: $font-clr;
			text-decoration: underline;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin: 0;
			padding: 0;
		}

		li {
			margin-right: 1em;
			font-weight: 500;
			font-size: 1rem;
			font-family: $paragraph-ff;
			list-style: none;
			text-transform: uppercase;
		}
	}

	@media screen and (min-width: $md) {
		position: sticky;
		top: 2rem;
	}
}

@media (max-width: $lg) {
	.body-mute {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		// z-index: 100;
		background: rgba($block, 0.5);
		width: 100vw;
		height: 100vh;
	}
}
