@use '../abstracts'as *;


#container--project-details {
	flex-basis: 40%;
}

@media (max-width: $lg) {
	#container--project-details {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 95vw;
		height: 50vh;
		background-image: linear-gradient(to bottom right, rgba($block, .9), rgba($block, 1));
		border: 1px solid $base;
	}
}

main {
	display: flex;
	flex: 0 1 100%;
	gap: min(1rem, 5vw);
	width: $block-width;
	margin-inline: auto;

	.block {
		margin-top: 0;
	}
}

.project-details {

	.close-ctrl {
		position: absolute;
		right: -1rem;

		@media (max-width: $md) {
			position: absolute;
			right: 1rem;
		}
	}

	.title-group {
		h2 {
			font-family: $subtitle-ff;
			font-size: $subtitle-f2;
			font-weight: $subtitle-fw;
			margin-bottom: .5rem;

			a {
				color: $font-clr;
				text-decoration: underline;
				transition: color 250ms;
			}

			a:hover {
				color: mix($font-clr, black, 75%);
			}
		}

		date {
			font-family: $paragraph-ff;
			font-size: $paragraph-fs;
			font-weight: $paragraph-fw;
		}
	}

	.detail-body {

		p {
			margin-block: 2em;
			font-family: $paragraph-ff;
			font-size: $paragraph-fs;
			font-weight: $paragraph-fw;

			a {
				color: $font-clr;
				text-decoration: underline;

				&:link {
					color: $font-clr;
				}

				&:visited {
					color: $font-clr;
				}
			}
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			width: 100%;
		}

		li {
			font-family: $paragraph-ff;
			font-size: 1rem;
			font-weight: 500;
			text-transform: uppercase;
			margin-right: 1em;
			list-style: none;
		}
	}

	@media screen and (min-width: $md) {
		position: sticky;
		top: 2rem;
	}
}