@use '../abstracts' as *;

// Projects Grid

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 100%);
	justify-content: space-around;
	gap: min(2rem, 5vw);

	@media screen and (min-width: $md) {
			grid-template-columns: repeat(auto-fill, 45%);
	}

	@media (min-width: $xl) {
		grid-template-columns: repeat(auto-fill, 300px);
	}

	@media (min-width: $xxl) {
		grid-template-columns: repeat(auto-fill, 400px);
	}
}