@use '../abstracts' as *;

.project-grid--container {
	display: grid;
	gap: $spacing-01;

	@media (min-width: $sm) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (min-width: $md) {
		grid-template-columns: repeat(4, 1fr);
	}
	@media (min-width: $lg) {
		grid-template-columns: repeat(5, 1fr);
	}
	@media (min-width: $xxl) {
		grid-template-columns: repeat(6, 1fr);
	}
}
