@use 'abstracts'as *;


#container--project-details {
	flex-basis: 40%;

}

@media screen and (max-width: $md) {
	#container--project-details {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 95vw;
		height: 50vh;
		background-image: linear-gradient(to bottom right, rgba($block, .9), rgba($block, 1));
		border: 1px solid rgba(white, .4);
	}
}

main {
	display: flex;
	flex: 0 1 100%;
	gap: min(2rem, 5vw);
	width: $block-width;
	margin-inline: auto;

	.block {
		margin-top: 0;
	}
}

.project-details {

	.close-ctrl {
		position: absolute;
		right: -1rem;

		@media (max-width: $md) {
			position: absolute;
			right: 1rem;
		}
	}

	.title-group {
		h2 {
			font-family: $subtitle-ff;
			font-size: $subtitle-f2;
			font-weight: $subtitle-fw;
			margin-bottom: .5rem;
		}

		date {
			font-family: $paragraph-ff;
			font-size: $paragraph-fs;
			font-weight: $paragraph-fw;
		}
	}

	.detail-body {
		display: flex;
		justify-content: space-between;
		gap: 2em;

		p {
			flex-grow: 3;
			margin-bottom: 1rem;
			margin-bottom: 0;
			padding-top: 2em;
			padding-bottom: 50%;
			font-family: $paragraph-ff;
			font-size: $paragraph-fs;
			font-weight: $paragraph-fw;
		}

		ul {
			flex-grow: 1;
			min-width: fit-content;
			margin: 0;
			padding-top: 2em;
			padding-right: 0;
		}

		li {
			list-style: none;
			font-family: $paragraph-ff;
			font-size: 1rem;
			font-weight: 400;
			text-align: right;
		}
	}

	@media screen and (min-width: $md) {
		position: sticky;
		top: 2rem;
	}
}